.box1{
    height: 400px;
    width: 600px;
    border: 1px solid black;
    background-color:darkgray;
    margin: 50px;
}
.box2{
    height: 200px;
    width: 400px;
    border: 40px solid rgb(234, 121, 121);
    background-color: aqua;
    margin: 50px;
}
.box3{
    height: 100px;
    width: 200px;
    border: 20px solid rgb(188, 145, 145);
    margin: 30px 80px;
    background-color: bisque;
    text-align: center;
    color: red;
    font-weight: 900;
    font-size: larger;
}